/*

    Name:       Oceans16 Dark
    Author:     Kyle Dunovan (http://github.com/dunovank)

    Original Color Scheme by Gadzhi Kharkharov (https://github.com/kkga/spacegray)
    CodeMirror & NB Style adapted from panditarevolution (https://github.com/panditarevolution/ipythonNotebook_customs)
    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

body {background-color: #2b303b;}

a {color: #858ea1; font-family: Helvetica, sans-serif; font-size: 16; font-weight: bold;}
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Source Code Pro', font-size:14px monospace !important;}
/* Hiding the ipython log */
div#ipython_notebook {display: none;}

/* INTRO PAGE */
.toolbar_info, .list_container {color:#858ea1; text-shadow: none !important;}
.breadcrumb>li {text-shadow:0 0px 0; color:#858ea1;}
div.list_container a:hover {color:#dddddd;}
div#header {
    background-color: #2b303b;
    color: #FFFFFF;
    height: 3.2em;
    border: 0px;}


/* Formatting Notebook Name */
span#notebook_name.ui-state-hover {
    color: #ffffff;

    background: #347864; /* Old browsers */
    background: -moz-linear-gradient(top,  #356cb4 0%, #356cb4 44%, #356cb4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356cb4), color-stop(44%,#356cb4), color-stop(100%,#356cb4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356cb4', endColorstr='#356cb4',GradientType=0 ); /* IE6-9 */    
}

div#notebook {border-top: none;}
div.navbar-inner.container { background: #2b303b; border:0px; }
div.navbar .nav>li>a { color: #858ea1; }
div.navbar .nav>li>a:hover { color: #356cb4; }

.navbar-nav > li.open > a { background-color: #eff1f5 !important; color: #356cb4 !important; }
.nav > li.active > a { background-color: #eff1f5 !important; color: #356cb4 !important; }
.dropdown-menu { background-color: #eff1f5 !important; 
    margin-left: 0px; 
    margin-right: 0px; 
    border: 0px; 
    border-radius: 0px;}
.dropdown-menu > li > a { color: #4f5b66 !important; margin-left: 0px; margin-right: 0px;}
.dropdown-menu > li > a:hover { 
    background: #356cb4 !important; 
    margin-left: 0px; 
    margin-right: 0px; 
    color: #ffffff !important; 
    border:0px !important;}
.dropdown-menu > li.disabled > a { 
    background-color: #eff1f5 !important; 
    color:#a7adba !important; }
.dropdown-menu > li.disabled > a:hover { 
    background-color: #eff1f5 !important; 
    color: #a7adba !important; }
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{text-decoration:none;color:#fff;background-color:#356cb4;background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4, #356cb4);background-image:linear-gradient(to bottom, #356cb4, #356cb4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;outline:0;background-color:#356cb4;background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4, #356cb4);background-image:linear-gradient(to bottom, #356cb4, #356cb4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)}

div#menubar
.navbar-inner { border: 0px; box-shadow: none; background:#2b303b; background-image: none;}
.navbar-text {color: #858ea1; font-weight: bold;}
div.navbar-inner.navbar-nobg {
    border: 0px; background: #2b303b;}
div#maintoolbar .toolbar-inner {background:#2b303b;}
div.navbar-inner a {
    font-family: 'Helvetica', ! important; 
    font-size: 14; font-weight: bold;
    text-shadow: none !important;}
.btn {
    color: #30333d;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    background: #858ea1;
    text-shadow: none;
    font-size:12;
    font-weight: bold;
    border:0px;}
.btn:hover {
    background-color: #FFFFFF !important;
    color: #356cb4;
    border:0px;}
ul.dropdown-menu {    
    overflow: visible;
    position: absolute;}

/* Formatting code in text, code*/
.CodeMirror pre {
    font-family: 'Source Code Pro', monospace;}
/* Formatting code in markdown cells */
div.rendered_html code {
    font-size: 12pt;
    background-color: #ffffff;
    color: #272a32;
    line-height: 125%;}
div.text_cell {
    max-width: 200%;}
div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica';
    font-weight: 300;
    color: #ffffff;}

/* text in output area (i.e. print some_list) */
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #c0c5ce solid;
  color: #343d46;}
div.text_cell_render, div.output_html {color: #697088;}

span.ansiblack {color: #1e2429;}
span.ansiblue {color: #3f5790;}
span.ansigray {color: #4c5361;}
span.ansigreen {color: #347864;}
span.ansipurple {color: #563951;}
span.ansired {color: #973d46;}
span.ansiyellow {color: #a25a47;}
div.output_stderr {background-color: #973d46;}
div.output_stderr pre {color: #dfe1e8;}

.cm-s-ipython.CodeMirror {background: #2b303b; color: #dfe1e8; font-weight: normal;}
.cm-s-ipython div.CodeMirror-selected {background: #3d424f !important;}
.cm-s-ipython .CodeMirror-gutters {background: #333946; border-right: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #515568;}
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #fd971f !important;}
.cm-s-ipython span.cm-comment {color: #a7adba; font-style: normal;}
.cm-s-ipython span.cm-atom {color: #b48ead;}
.cm-s-ipython span.cm-number {color: #d08770;}
.cm-s-ipython span.cm-property {color: #d08770;}
.cm-s-ipython span.cm-attribute {color: #cb7d7e;}
.cm-s-ipython span.cm-keyword {color: #b48ead; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #8fc198; font-weight: normal;} /* Base16 original #a3be8c*/
.cm-s-ipython span.cm-operator {color: #d08770; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #cb7d7e; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #cb7d7e;}
.cm-s-ipython span.cm-variable {color: #dfe1e8;}
.cm-s-ipython span.cm-variable-2 {color: #cb7d7e; font-weight: normal;}
.cm-s-ipython span.cm-variable-3 { color: #6c71c4; }
.cm-s-ipython span.cm-def {color: #a4b8cb; font-weight: normal;}
.cm-s-ipython span.cm-error {background: #cb7d7e; color: #a7adba;}
.cm-s-ipython span.cm-bracket {color: #dfe1e8;}
.cm-s-ipython span.cm-tag {color: #b48ead;}
.cm-s-ipython span.cm-link {color: #b48ead;}
.cm-s-ipython span.cm-storage {color: #b48ead;}
.cm-s-ipython span.cm-support {color: #96b5b4;}


.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: blink; font-weight: bold; color: #70ca8b !important; }
.cm-s-ipython .CodeMirror-nonmatchingbracket { text-decoration: blink; font-weight: bold; color: #bf616a !important; }
.cm-s-ipython span.cm-qualifier { color: #bf616a; }

div.cell {border: medium solid #3d424f; padding: 0px; border-radius: 0px;}
div.cell.selected {border: medium solid #356cb4; padding: 0px; border-radius: 0px;}
div.cell.edit_mode {border: medium solid #3d424f; padding: 0px;border-radius: 0px;}


div.input_area {
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;}
/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: Source Code Pro;
    font-weight: bold;
    color: #7d879b;
    background-color: #53586b;
    width: 5.5em;}

div.output_wrapper {
    background-color: #d4d8e0;
    margin-bottom: 0em;
    margin-top: 0;
    border: 0px;}
div.prompt.output_prompt {
    font-family: Source Code Pro;
    color: #858ea1;
    background-color: #d4d8e0;
    width: .5em;
    padding-top: 1em;
    margin: 0px; 
    border: 0px;}
div.out_prompt_overlay.prompt {
    width: .5em;
    padding-left: 6px;
    padding-right: 8px;
    border: 0px;
    color: #2b303b;
    background-color: #d4d8e0;
    border-radius:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}

div.out_prompt_overlay.prompt:hover {
    padding-left: 6px;
    padding-right: 8px;
    background-color: #d4d8e0;
    box-shadow: #6e788c 4px 4px 6px 2px inset;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    margin-left: none;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-top: 8px; 
    background-color: #d4d8e0;
    color: #2b303b;}
div.btn.output_collapsed { 
    background: #356cb4;
    color: #ffffff;
    font-size: 22;
    font-weight: bold;
    border-radius: 0px;     
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}