/*
    Name:       Oceans16 Dark
    Author:     Kyle Dunovan (http://github.com/dunovank)
    Original Color Scheme by Gadzhi Kharkharov (https://github.com/kkga/spacegray)
    CodeMirror & NB Style adapted from panditarevolution (https://github.com/panditarevolution/ipythonNotebook_customs)
    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/



body {background-color: #22252d;}

a {color: #858ea1; font-family: 'Helvetica', sans-serif; }
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt, div.CodeMirror pre {font-family:'Source Code Pro', monospace; font-size: 12pt;}

/* Hiding the ipython log */
div#ipython_notebook {display: none;}


/* INTRO PAGE */
.toolbar_info {color: #858ea1; font-size: 13pt; border: 0; font-family: 'Helvetica', sans-serif; text-shadow: none !important; }
.list_container {color: #858ea1; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif;text-shadow: none !important; }
.breadcrumb>li {text-shadow:0 0px 0; color:#858ea1; font-family: 'Helvetica', sans-serif; font-size: 13pt}
.list_container a {color: #858ea1; font-family: 'Helvetica', sans-serif; font-size: 12pt; border: 0; text-shadow: none !important; }

.item_icon {color: #356cb4;}

div.list_container a:hover {color: #dee3ec;}
div.list_container :hover {
      background-color: #22252d;
      color: #dee3ec;
}
.list_header {
    font-weight: bold;
    background-color: #22252d;
}
div.notebook_list_header {
      background: #22252d;

}

.list_container > div {
    border-bottom: 1px solid rgba(53, 87, 120, 0.55);
    font-size: 13pt;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12pt;
    line-height: 1.42857;
    color: #858ea1;
}

#kernel_indicator {
    float: right !important;
    color: #2c85f7;
}
#kernel_indicator .kernel_indicator_name {
    padding-left: 5px;
    padding-right: 5px;
    font-size:13pt;
}
#modal_indicator {
    float: right !important;
    color: #2c85f7;

}

.CodeMirror pre {
  font-family: 'Source Code Pro' monospace;
  font-size: 13pt;
}

.notebook_app {
    background-color: #22252d;
}
.notebook_app #header {
    box-shadow: none !important;
}
#notebook-container {
    padding: 15px;
    background-color: #22252d;
    min-height: 0px;
    box-shadow: none;
}
#header {
    box-shadow: none;
    background-color: #22252d;
    position: relative;
    z-index: 100;
}
#header-container {
    padding-bottom: 5px;
    display: none !important;
    box-shadow: none;
}
#header .header-bar {
    background: #22252d;
}
div#maintoolbar {
    display: none !important;
}
/* text in output area (i.e. print some_list) */
div.output_html {color: #1e2429;}

/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #a4b8cb solid;
  color: #a4b8cb;
  background-color: #2b303b !important;
  align-content: left !important;
}
.navbar-default {
    background-color: #22252d;
    border-color: #22252d;
}

.navbar-default .navbar-nav > li > a {
    color: #858ea1;
    font-size: 13pt;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #dee3ec;
    background-color: rgba(53, 108, 180, .3);
}
.btn {
    color: #858ea1;
    background: #22252d;
    font-size: 10pt;
    font-weight: bold;
    border: 0 none !important;
    box-shadow: none !important;
    text-shadow: none;
}
.btn-group > .btn-mini {
    color: #858ea1;
    background: #22252d;
    font-size: 9pt;
    font-weight: bold;
    border: 0 none !important;
    box-shadow: none !important;
    text-shadow: none;
}
.btn:hover {
    color: #356cb4;
    background: #22252d;
    background-color: #22252d;
    background-image: none;
}
.btn-group > .btn-mini:hover {
    color: #356cb4;
    background: #22252d;
    background-color: #22252d;
    background-image: none;
}

div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight:200;
    color: #a4b8cb;}


/* text in output area (i.e. print some_list) */
div.output_html {color: #a4b8cb;}

/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #a4b8cb solid;
  color: #a4b8cb;
  background-color: #303643 !important;
  align-content: left !important;
}



span.ansiblack {color: #282a2e;}
span.ansiblue {color: #8abeb7;}
span.ansigray {color: #b4b7b4;}
span.ansigreen {color: #b5bd68;}
span.ansipurple {color: #b294bb;}
span.ansired {color: #cc6666;}
span.ansiyellow {color: #f0c674;}

div.output_stderr {background-color: #cc6666;}
div.output_stderr pre {color: #c0c5ce;}

.cm-s-ipython.CodeMirror {background: #2b303b; color: #c0c5ce; font-size:13pt !important;}
.cm-s-ipython div.CodeMirror-selected {background: rgba(76, 85, 104, 0.65) !important;}
.cm-s-ipython .CodeMirror-gutters {background: #303643; border: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #515a6f !important; font-size:11pt;}
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #2c85f7 !important;}
.cm-s-ipython span.cm-comment {color: #515a6f; font-style: normal !important;}
.cm-s-ipython span.cm-atom {color: #a88fc1;}
.cm-s-ipython span.cm-number {color: #d08770;}
.cm-s-ipython span.cm-property {color: #73a6d6;}
.cm-s-ipython span.cm-attribute {color: #cd7578;}
.cm-s-ipython span.cm-keyword {color: #a88fc1; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #8fc198; font-weight: normal;}
.cm-s-ipython span.cm-operator {color: #73a6d6; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #cd7578; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #cd7578;}
.cm-s-ipython span.cm-variable {color: #c0c5ce;}
.cm-s-ipython span.cm-variable-2 {color: #cd7578;}

.cm-s-ipython span.cm-def {color: #73a6d6; font-weight: normal;}
.cm-s-ipython span.cm-error {background: rgba(191, 97, 106, .3) !important; }
.cm-s-ipython span.cm-tag {color: #73a6d6;} /*#679ac88*/
.cm-s-ipython span.cm-link {color: #a88fc1;}
.cm-s-ipython span.cm-storage {color: #a88fc1;}
.cm-s-ipython span.cm-entity {color: #ddbf86;}
.cm-s-ipython span.cm-class {color: #ddbf86;}
.cm-s-ipython span.cm-support {color: #73a6d6;}
.cm-s-ipython span.cm-qualifier { color: #73a6d6;}
.cm-s-ipython span.cm-property {color:#73a6d6;}



div.CodeMirror span.CodeMirror-matchingbracket { color: #c0c5ce; }
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #c0c5ce; }
.cm-s-ipython .CodeMirror-matchingbracket { background: rgba(53, 108, 180, .7) !important;}
.cm-s-ipython .CodeMirror-nonmatchingbracket { background: rgba(191, 97, 106, .7) !important;}


div.cell {border: medium solid #22252d; padding: 0px; border-radius: 0px;}
div.cell.selected {border: medium solid #356cb4; padding: 0px; border-radius: 0px;}
.edit_mode div.cell.selected {border: medium solid rgba(53, 108, 180, .45) !important; padding: 0px; border-radius: 0px;}
div.cell.edit_mode {border: medium solid rgba(53, 108, 180, .45) !important; padding: 0px; border-radius: 0px;}

div.prompt {
    padding: 0.3em;
    margin: 0px;
    font-family: monospace;
    text-align: left;
    line-height: 1.21429em;
    min-width: 11ex;
    font-size: 9.5pt;
}

div.input_area {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;}
/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 9pt;
    color: #515a6f;
    background-color: #2b303b;
    width: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;}

div.prompt.output_prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    background-color: #303643;
    color: #303643;
    font-size: 9pt;
    width: 1em;
    margin-bottom: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0px;}
div.out_prompt_overlay.prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 9pt;
    width: 1em;
    margin-bottom: 8px;
    background-color: #303643;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;}
div.out_prompt_overlay.prompt:hover {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 9pt;
    width: 1em;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #303643;
    box-shadow:#2b303b 2px 2px 6px 4px inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;}

div.output_wrapper {
    background-color:#303643;
    margin-bottom: 0em;
    margin-top: 0em;
    border: 0px;}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    padding-top: 1em;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #303643;
    color: #c0c5ce;}

div.output_area pre {
    color: #c0c5ce;
    font-size: 12pt;
}
