/*

    Name:       Oceans16 Light
    Author:     Kyle Dunovan (http://github.com/dunovank)

    Original Color Scheme by Gadzhi Kharkharov (https://github.com/kkga/spacegray)
    CodeMirror & NB Style adapted from panditarevolution (https://github.com/panditarevolution/ipythonNotebook_customs)
    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

body {background-color: #a8afbd;}

a {color: #627187; font-family: 'Helvetica', sans-serif; font-size: 11pt; font-weight: normal;}

div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Source Code Pro', monospace; font-size: 11pt;}
/* Hiding the ipython log */
div#ipython_notebook {display: none;}

/* INTRO PAGE */
.toolbar_info {color: #a8afbd; font-size: 9pt; text-shadow: none !important;}
.list-container {color: #a8afbd; font-size: 12pt;  text-shadow: none !important;}
.breadcrumb>li {text-shadow:0 0px 0; color: #627187;}
div.list_container a:hover {color: #ffffff;}
div#header {
    background-color: #a8afbd;
    color: #ffffff;
    height: 3.2em;
    border: 0px;}


/* Formatting Notebook Name */
span#notebook_name.ui-state-hover {
    color: #ffffff;

    background: #356cb4; /* Old browsers */
    background: -moz-linear-gradient(top,  #356cb4 0%, #356cb4 44%, #356cb4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356cb4), color-stop(44%,#356cb4), color-stop(100%, #356cb4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #356cb4 0%,#356cb4 44%,#356cb4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #356cb4 0%,#356cb4 44%,#356cb4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356cb4', endColorstr='#356cb4',GradientType=0 ); /* IE6-9 */
}


div#notebook {border-top: none;}
div.navbar-inner.container { background:#a8afbd; border:0px;}
div.navbar .nav>li>a {color: #606e82; font-family: 'Helvetica', sans-serif; font-size: 12pt; font-weight: normal;}
div.navbar .nav>li>a:hover {color: #ffffff;}

.navbar-nav > li.open > a { background-color: #eff1f5 !important; color: #356cb4 !important; }
.nav > li.active > a { background-color: #eff1f5 !important; color: #356cb4 !important; }
.dropdown-menu { background-color: #eff1f5 !important;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    border-radius: 0px;}
.dropdown-menu > li > a { color: #4f5b66 !important; margin-left: 0px; margin-right: 0px;}
.dropdown-menu > li > a:hover {
    background: #356cb4 !important;
    margin-left: 0px;
    margin-right: 0px;
    color: #ffffff !important;
    border:0px !important; }
.dropdown-menu > li.disabled > a {
    background-color: #eff1f5 !important;
    color:#a7adba !important; }
.dropdown-menu > li.disabled > a:hover {
    background-color: #eff1f5 !important;
    color: #a7adba !important; }

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{text-decoration:none;color:#fff;background-color:#356cb4;
  background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));  
  background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4,  #356cb4);
  background-repeat:repeat-x;filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;outline:0;background-color:#356cb4;  
  background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));
  background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4, #356cb4);background-image:linear-gradient(to 
  bottom, #356cb4, #356cb4); background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3',
  GradientType=0)}

div#menubar
.navbar-inner { border: 0px; box-shadow: none; background:#a8afbd; background-image: none;}
.navbar-text {color: #4f5b66; font-family: 'Helvetica', sans-serif; font-size: 9pt; font-weight: normal;}
div.navbar-inner.navbar-nobg {
    border: 0px; background: #a8afbd;}
div#maintoolbar .toolbar-inner {background:#a8afbd;}
div.navbar-inner a {
    font-family: 'Helvetica', ! important;
    font-size: 10pt; font-weight: normal;
    text-shadow: none !important;}    
.btn {
    color: #30333d;
    padding: 1px;
    padding-left: 3px; /* */
    padding-right: 3px; /* */
    background: #79879c;
    text-shadow: none;
    font-size:10pt;
    font-weight: bold;
    border:0px
    !important; }
.btn:hover {
    background-color: #ffffff !important;
    color: #2c85f7;
    border:0px;}
ul.dropdown-menu {
    overflow: visible;
    position: absolute;}

/* Formatting code in text, code*/
.CodeMirror pre {
    font-family: 'Source Code Pro', monospace;}
div.text_cell_render {
        color: #eff1f5;
        background-color: #98a2b2;}
/* Formatting code in markdown cells */
div.rendered_html code {
    font-size: 12pt;
    background-color: #ffffff;
    color: #272a32;
    line-height: 130%;}
div.text_cell {
    max-width: 200%;}
div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica';
    font-weight: 300;
    color: #ffffff;}
/* text in output area (i.e. print some_list) */
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #1e2429 solid;
  color: #1e2429;}
div.output_html {color: #1e2429;}

span.ansiblack {color: #1e2429;}
span.ansiblue {color: #3f5790;}
span.ansigray {color: #4c5361;}
span.ansigreen {color: #347864;}
span.ansipurple {color: #563951;}
span.ansired {color: #973d46;}
span.ansiyellow {color: #a25a47;}
div.output_stderr {background-color: #973d46;}
div.output_stderr pre {color:#d0d6e1;}

.cm-s-ipython.CodeMirror {background: #eff1f5; color: #4f5b66; font-weight: normal;}
.cm-s-ipython div.CodeMirror-selected {background: #dfe1e7 !important;}/* Base16 original #c1c6d0*/
.cm-s-ipython .CodeMirror-gutters {background: #b6bcc8; border-right: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #99a1b2 !important;}
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #2c85f7 !important;}
.cm-s-ipython span.cm-comment {color: #a7adba; font-style: normal;}
.cm-s-ipython span.cm-atom {color: #b48ead;}
.cm-s-ipython span.cm-number {color: #d08770;}
.cm-s-ipython span.cm-property {color: #d08770;}
.cm-s-ipython span.cm-attribute {color: #bf616a;}
.cm-s-ipython span.cm-keyword {color: #b48ead; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #a3be8c; font-weight: normal;}
.cm-s-ipython span.cm-operator {color:#bf616a; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #bf616a; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #bf616a;}
.cm-s-ipython span.cm-variable {color: #4f5b66;}
.cm-s-ipython span.cm-variable-2 {color: #bf616a; font-weight: normal;}
.cm-s-ipython span.cm-variable-3 { color: #6c71c4; }
.cm-s-ipython span.cm-def {color: #a4b8cb; font-weight: normal;}
.cm-s-ipython span.cm-error {background: #bf616a; color: #a7adba;}
.cm-s-ipython span.cm-bracket {color: #697987;}
.cm-s-ipython span.cm-tag {color: #b48ead;}
.cm-s-ipython span.cm-link {color: #b48ead;}
.cm-s-ipython span.cm-storage {color: #b48ead;}
.cm-s-ipython span.cm-support {color: #96b5b4;}

div.CodeMirror span.CodeMirror-matchingbracket { color: #4f5b66; }
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #4f5b66; }
.cm-s-ipython .CodeMirror-matchingbracket { background: rgba(119, 177, 216, .7) !important;}
.cm-s-ipython .CodeMirror-nonmatchingbracket { background: rgba(220, 100, 90, .7) !important;}

div.cell {border: medium solid #757f92; padding: 0px; border-radius: 0px;}
div.cell.selected {border: medium solid #356cb4; padding: 0px; border-radius: 0px;}
div.cell.edit_mode {border: medium solid #757f92; padding: 0px;border-radius: 0px;}


div.input_area {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;}
/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 8pt;
    color: #5a6874;
    background-color: #98a2b2;
    width: 0.5em;
    padding-bottom: 0px;
    margin-bottom: 0px;}

div.output_wrapper {
    background-color: #ffffff;
    margin-bottom: 0em;
    margin-top: 0em;
    border: 0px;}
div.prompt.output_prompt {
    font-family: Source Code Pro;
    color: #dfe1e8;
    background-color: #ffffff;
    width: .5em;
    padding-top: 1em;
    margin: 0px;
    border: 0px;}
div.out_prompt_overlay.prompt {
    width: .5em;
    padding-left: 4px;
    padding-right: 4px;
    border: 0px;
    color: #2b303b;
    background-color: #ffffff;
    border-radius:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}

div.out_prompt_overlay.prompt:hover {
    padding-left: 4px;
    padding-right: 4px;
    background-color: #ffffff;
    box-shadow: #6e788c 4px 4px 6px 2px inset;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    margin-left: none;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-top: 8px;
    background-color: #ffffff;
    color: #2b303b;}
div.btn.output_collapsed {
    background: #356cb4;
    color: #ffffff;
    font-size: 22;
    font-weight: bold;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}
