/*
    Name:       Oceans16 Dark
    Author:     Kyle Dunovan (http://github.com/dunovank)
    Original Color Scheme by Gadzhi Kharkharov (https://github.com/kkga/spacegray)
    CodeMirror & NB Style adapted from panditarevolution (https://github.com/panditarevolution/ipythonNotebook_customs)
    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

body {background-color: #2b303b;}

a {color: #858ea1; font-family: 'Helvetica', sans-serif; font-size: 13pt; font-weight: normal !important; }

div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
    font-family:'Source Code Pro', monospace; font-size: 11pt;}
/* Hiding the ipython log */
div#ipython_notebook {display: none;}

/* INTRO PAGE */
.toolbar_info {color: #858ea1; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif; text-shadow: none !important; }
.list_container {color: #858ea1; font-size: 13pt; border: 0; font-family: 'Helvetica', sans-serif;text-shadow: none !important; }
.breadcrumb>li {text-shadow:0 0px 0; color:#858ea1; font-family: 'Helvetica', sans-serif; }
.list_container a {color: #858ea1; font-family: 'Helvetica', sans-serif; font-size: 14pt; border: 0; text-shadow: none !important; }
div.list_container a:hover {color: #dee3ec;}
span#save_widget {color: #dee3ec;}

div#header {
    background-color: #2b303b;
    color: #FFFFFF;
    height: 2.8em;
    margin-bottom:none;
    border: 0 !important;}

/* Formatting Notebook Name */
span#notebook_name.ui-state-hover {
    color: #ffffff;
    background: #356cb4; /* Old browsers */
    background: -moz-linear-gradient(top,  #356cb4 0%, #356cb4 44%, #356cb4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356cb4), color-stop(44%,#356cb4), color-stop(100%,#356cb4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356cb4', endColorstr='#356cb4',GradientType=0 ); /* IE6-9 */
}

div#notebook {border-top: none;}
div.navbar-inner.container { background: #2b303b; border:0px; font-weight: normal; }
div.navbar .nav>li>a { background: #2b303b; color: #858ea1; font-family: sans-serif; font-weight: normal; font-size:14pt; padding-bottom: 6px; }
div.navbar .nav>li>a:hover {color: #ffffff;}
.navbar-nav > li.open > a { font-family: sans-serif; font-weight: normal; font-size:11pt; background-color: #eff1f5 !important; color: #356cb4 !important; }
.nav > li.active > a { font-family: sans-serif; font-weight: normal; font-size:11pt; background-color: #eff1f5 !important; color: #356cb4 !important; }

div#menubar
.navbar {margin-bottom: none;}
.navbar-inner { border: 0px; font-family: sans-serif; box-shadow: none; background: #2b303b; background-image: none; }
.navbar-text {color: #858ea1; font-family: sans-serif; font-size: 10pt; font-weight: normal;}
div.navbar-inner.navbar-nobg { border: 0px; background: #2b303b; }
div#maintoolbar .toolbar-inner {background:#2b303b;}
div.navbar-inner a { font-family: 'Helvetica', sans-serif; !important; font-size: 12pt; font-weight: normal; text-shadow: none !important;}

.dropdown-menu { background-color: #eff1f5 !important; margin-left: 0px; margin-right: 0px; border: 0px; border-radius: 0px;}
.dropdown-menu > li > a { color: #333947 !important; margin-left: 0px; margin-right: 0px; font-family: sans-serif; font-size: 11pt; font-weight: normal;}
.dropdown-menu > li > a:hover { background: #356cb4 !important; margin-left: 0px; margin-right: 0px; color: #ffffff !important; border:0px !important; }
.dropdown-menu > li.disabled > a { background-color: #eff1f5 !important; color:#a7adba !important; }
.dropdown-menu > li.disabled > a:hover { background-color: #eff1f5 !important; color: #a7adba !important; }
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{text-decoration:none;color:#fff;background-color:#356cb4;
  background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));
  background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4,  #356cb4);
  background-repeat:repeat-x;filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;outline:0;background-color:#356cb4;
  background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));
  background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4, #356cb4);background-image:linear-gradient(to
  bottom, #356cb4, #356cb4); background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3',
  GradientType=0)}

.btn {
    color: #2b303b;
    font-size: 12pt;
    padding-left: 2px;
    padding-right: 2px;
    background: #858ea1;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: none;
    border: 0 !important; }
.btn-group > .btn-mini {
    font-size: 10pt;
    font-weight: bold;
    text-shadow: none;
    font-family: sans-serif;
    border: 0 !important;}
.btn:hover {
    background-color: #ffffff !important;
    color: #2c85f7;
    border: 0 !important;}

ul.dropdown-menu {
    overflow: visible;
    position: absolute;}
.CodeMirror pre {
        font-family: 'Source Code Pro', monospace !important;
        font-weight: normal;}
/* Formatting code in markdown cells */
div.rendered_html code {
    font-size: 12pt;
    color: #356cb4;
    background-color: #dfe1e8;
    line-height: 130%;}
/* Formatting code in markdown cells */
div.text_cell_render {
        color: #d4d8e0;
        background-color: #2b303b;}
div.text_cell {
    max-width: 100%;
    color: #ffffff;}
div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    color: #ffffff;}
/* text in output area (i.e. print some_list) */
div.output_html {color: #1e2429;}
/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #1e2429 solid;
  color: #1e2429;}


div#pager pre {
    color: #c0c5ce !important;
    background-color: #2b303b !important;
}
    .notification_widget {
    font-size: 16;
    border: 0px;
    font-weight: bold !important;
    color: #ffffff !important;
    background: #356cb4 !important;}

span.ansiblack {color: #2a2e36;}
span.ansiblue {color: #002c58;}
span.ansigray {color: #2a2e36;}
span.ansigreen {color: #014a11;}
span.ansipurple {color: #3c0784;}
span.ansired {color: #7b0c17;}
span.ansiyellow {color: #01595f;}
span.ansicyan {color: #912c01;}
div.output_stderr {background-color: #7b0c17;}
div.output_stderr pre {color: #3e4555;}

.cm-s-ipython.CodeMirror {background: #2b303b; color: #c0c5ce; font-weight: normal;}
.cm-s-ipython div.CodeMirror-selected {background: rgba(76, 85, 104, 0.65) !important;}
.cm-s-ipython .CodeMirror-gutters {background: #333947; border: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #515a6f !important;}
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #2c85f7 !important;}
.cm-s-ipython span.cm-comment {color: #515a6f; font-style: normal;}
.cm-s-ipython span.cm-atom {color: #b48ead;}
.cm-s-ipython span.cm-number {color: #d08770;}
.cm-s-ipython span.cm-property {color: #d08770;}
.cm-s-ipython span.cm-attribute {color: #cb7d7e;}
.cm-s-ipython span.cm-keyword {color: #b48ead; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #8fc198; font-weight: normal;}
.cm-s-ipython span.cm-operator {color: #bf616a; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #bf616a; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #bf616a;}
.cm-s-ipython span.cm-variable {color: #c0c5ce;}
.cm-s-ipython span.cm-def {color: #a4b8cb; font-weight: normal;}
.cm-s-ipython span.cm-error {background: rgba(191, 97, 106, .7) !important;}
.cm-s-ipython span.cm-bracket {color: #c0c5ce;}
.cm-s-ipython span.cm-tag {color: #b48ead;}
.cm-s-ipython span.cm-link {color: #b48ead;}
.cm-s-ipython span.cm-storage {color: #b48ead;}
.cm-s-ipython span.cm-support {color: #96b5b4;}
.cm-s-ipython span.cm-qualifier { color: #bf616a; }

div.CodeMirror span.CodeMirror-matchingbracket { color: #c0c5ce; }
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #c0c5ce; }
.cm-s-ipython .CodeMirror-matchingbracket { background: rgba(53, 108, 180, .7) !important;}
.cm-s-ipython .CodeMirror-nonmatchingbracket { background: rgba(191, 97, 106, .7) !important;}

div.cell {border: medium solid #485165; padding: 0px; border-radius: 0px;}
div.cell.selected {border: medium solid #356cb4; padding: 0px; border-radius: 0px;}
div.cell.edit_mode {border: medium solid #485165; padding: 0px;border-radius: 0px;}

div.input_area {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;}
/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 10pt;
    color: #7d879b;
    background-color: #3b4252;
    width: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;}

div.prompt.output_prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    background-color: #7d879b;
    font-size: 10pt;
    width: 1em;
    margin-bottom: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0px;}
div.out_prompt_overlay.prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 10pt;
    width: 1em;
    margin-bottom: 8px;
    background-color: #7d879b;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;}
div.out_prompt_overlay.prompt:hover {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 10pt;
    width: 1em;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #7d879b;
    box-shadow:#515a6f 4px 4px 6px 4px inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;}

div.output_wrapper {
    background-color:#7d879b;
    margin-bottom: 0em;
    margin-top: 0em;
    border: 0px;}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    padding-top: 1em;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #7d879b;
    color: #22252d;}

div.btn.output_collapsed {
    background: rgba(53, 108, 180, .7);
    padding-right:10px;
    background-image: none;
    color: #22252d;
    font-size: 20;
    font-weight: bold;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}
