/*

    Name:       Oceans16 Light
    Author:     Kyle Dunovan (http://github.com/dunovank)

    Original Color Scheme by Gadzhi Kharkharov (https://github.com/kkga/spacegray)
    CodeMirror & NB Style adapted from panditarevolution (https://github.com/panditarevolution/ipythonNotebook_customs)
    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

body {background-color: #a8afbd;}

a {color: #627187; font-family: 'Helvetica', sans-serif; font-size: 11pt; font-weight: normal;}

div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Source Code Pro', monospace; font-size: 11pt;}
/* Hiding the ipython log */
div#ipython_notebook {display: none;}

/* INTRO PAGE */
.toolbar_info {color: #a8afbd; font-size: 9pt; text-shadow: none !important;}
.list-container {color: #a8afbd; font-size: 12pt;  text-shadow: none !important;}
.list_container a {color: #a8afbd; font-family: 'Helvetica', sans-serif; font-size: 12pt; border: 0; text-shadow: none !important; }
.breadcrumb>li {text-shadow:0 0px 0; color: #627187;}
div.list_container a:hover {color: #ffffff;}
div#header {
    background-color: #a8afbd;
    color: #545f70;
    height: 2.8em;
    margin-bottom:none;
    border: 0 !important;}
div.navbar .nav > li > a {
    background: #A8AFBD;
    color: #545f70;
    font-family: sans-serif;
    padding-bottom: 6px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* Formatting Notebook Name */
span#notebook_name.ui-state-hover {
    color: #ffffff;
    background: #356cb4; /* Old browsers */
    background: -moz-linear-gradient(top,  #356cb4 0%, #356cb4 44%, #356cb4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356cb4), color-stop(44%,#356cb4), color-stop(100%, #356cb4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #356cb4 0%,#356cb4 44%,#356cb4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #356cb4 0%,#356cb4 44%,#356cb4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #356cb4 0%,#356cb4 44%,#356cb4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356cb4', endColorstr='#356cb4',GradientType=0 ); /* IE6-9 */
}

div#notebook {border-top: none;}
div.navbar-inner.container { background:#a8afbd; border:0px;}
div.navbar .nav>li>a {color: #545f70; font-family: 'Helvetica', sans-serif; font-size: 12pt; font-weight: normal;}
div.navbar .nav>li>a:hover {color: #ffffff;}
.navbar-text {color: #545f70; font-family: sans-serif; font-size: 10pt; font-weight: normal;}
.navbar-nav > li.open > a { background-color: #edeef2 !important; font-family: sans-serif; font-size: 13pt; color: #356cb4 !important; }
.nav > li.active > a { background-color: #edeef2 !important; font-family: sans-serif; font-size: 13pt; color: #356cb4 !important; }
div.navbar-inner a { font-family: 'Helvetica', !important; font-size: 12pt; font-weight: normal; text-shadow: none !important;}



.dropdown-menu { background-color: #edeef2 !important;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    border-radius: 0px;}
.dropdown-menu > li > a { color: #4f5b66 !important; margin-left: 0px; margin-right: 0px;}
.dropdown-menu > li > a:hover {
    background: #356cb4 !important;
    margin-left: 0px;
    margin-right: 0px;
    color: #ffffff !important;
    border:0px !important; }
.dropdown-menu > li.disabled > a {
    background-color: #edeef2 !important;
    color:#a7adba !important; }
.dropdown-menu > li.disabled > a:hover {
    background-color: #edeef2 !important;
    color: #a7adba !important; }

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{text-decoration:none;color:#fff;background-color:#356cb4;
  background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));
  background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4,  #356cb4);
  background-repeat:repeat-x;filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;outline:0;background-color:#356cb4;
  background-image:-moz-linear-gradient(top, #356cb4, #356cb4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#356cb4), to(#356cb4));
  background-image:-webkit-linear-gradient(top, #356cb4, #356cb4);background-image:-o-linear-gradient(top, #356cb4, #356cb4);background-image:linear-gradient(to
  bottom, #356cb4, #356cb4); background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3',
  GradientType=0)}

div#menubar
.navbar-inner { border: 0px; box-shadow: none; background:#a8afbd; background-image: none;}
.navbar-text {color: #545f70; font-family: 'Helvetica', sans-serif; font-size: 9pt; font-weight: normal;}
div.navbar-inner.navbar-nobg {
    border: 0px; background: #a8afbd;}
div#maintoolbar .toolbar-inner {background:#a8afbd;}
div.navbar-inner a {
    font-family: 'Helvetica', !important;
    font-size: 10pt; font-weight: normal;
    text-shadow: none !important;}
.btn {
    color: #30333d;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    background: #79879c;
    text-shadow: none;
    font-size:10pt;
    font-weight: bold;
    border:0px !important; }
.btn:hover {
    background-color: #ffffff !important;
    color: #2c85f7;
    border:0px;}
ul.dropdown-menu {
    overflow: visible;
    position: absolute;}

.CodeMirror pre {
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
}
/* Formatting code in markdown cells */
.rendered_html pre, .rendered_html code {
    border: 0px none;
    background-color: #E2E3EA;
    color: #545f70;
    line-height: 130%;
    padding: 0px;
}
div.text_cell_render {
    color: #545f70;
    background: #e2e3ea;
}

div.text_cell pre {
    max-width: 100%;
    color: #2c85f7;
}

div#kernel_indicator.indicator_area {
    color: #4BAB5C;
}
div#modal_indicator.indicator_area {
    color: #2c85f7;
}

div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight:200;
    color: #545f70;
}

/* text in output area (i.e. print some_list) */
div.output_html {color: #1e2429;}

/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #a4b8cb solid;
  color: #356cb4;
  background-color: #e2e3ea !important;
  align-content: left !important;
}
div.output_html {color: #1e2429;}

span.ansiblack {color: #1e2429;}
span.ansiblue {color: #3f5790;}
span.ansigray {color: #4c5361;}
span.ansigreen {color: #347864;}
span.ansipurple {color: #563951;}
span.ansired {color: #973d46;}
span.ansiyellow {color: #a25a47;}
div.output_stderr {background-color: #973d46;}
div.output_stderr pre {color:#4f5b66;}

.cm-s-ipython.CodeMirror {background: #e2e3ea; color: #4f5b66; font-weight: normal;}
.cm-s-ipython div.CodeMirror-selected {background: #c0c5ce !important;}/* Base16 original #c1c6d0*/
.cm-s-ipython .CodeMirror-gutters {background: #aeb6c3; border-right: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #7a889c !important;}
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #2c85f7 !important;}
.cm-s-ipython span.cm-comment {color: #7a889c; font-style: normal;}
.cm-s-ipython span.cm-atom {color: #5a5fbd;}
.cm-s-ipython span.cm-number {color: #c85135;}
.cm-s-ipython span.cm-property {color: #c85135;}
.cm-s-ipython span.cm-attribute {color: #b33b46;}
.cm-s-ipython span.cm-keyword {color: #5a5fbd; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #539771; font-weight: normal;}/*#a3be8c*/
.cm-s-ipython span.cm-operator {color:#356cb4; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #b33b46; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #b33b46;}
.cm-s-ipython span.cm-variable {color: #4f5b66;}
.cm-s-ipython span.cm-variable-2 {color: #b33b46; font-weight: normal;}
.cm-s-ipython span.cm-variable-3 { color: #5a5fbd; }
.cm-s-ipython span.cm-def {color: #356cb4; font-weight: normal;}
.cm-s-ipython span.cm-error {color: #4f5b66; background: rgba(191, 97, 106, .7) !important;}
.cm-s-ipython span.cm-bracket {color: #697987;}
.cm-s-ipython span.cm-tag {color: #5a5fbd;}
.cm-s-ipython span.cm-link {color: #5a5fbd;}
.cm-s-ipython span.cm-storage {color: #5a5fbd;}
.cm-s-ipython span.cm-support {color: #356cb4;}

div.CodeMirror span.CodeMirror-matchingbracket { color: #4f5b66; }
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #4f5b66; }
.cm-s-ipython .CodeMirror-matchingbracket { background: rgba(53, 108, 180, .6) !important;}
.cm-s-ipython .CodeMirror-nonmatchingbracket { background: rgba(191, 97, 106, .7) !important;}

div.cell {border: medium solid #a8afbd; padding: 0px; border-radius: 0px;}
div.cell.selected {border: medium solid #356cb4; padding: 0px; border-radius: 0px;}
div.cell.edit_mode {border: medium solid #a8afbd; padding: 0px;border-radius: 0px;}


div.prompt {
    padding: 0.4em;
    margin: 0px;
    font-family: monospace;
    text-align: left;
    line-height: 1.21429em;
    min-width: 11ex;
    font-size: 9pt;
}

div.input_area {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;}
/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 9pt;
    color: #5a6874;
    background-color: #98a2b2;
    width: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;}

div.prompt.output_prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    background-color: #edeef2;
    font-size: 9pt;
    width: 1em;
    margin-bottom: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0px;}
div.out_prompt_overlay.prompt {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 9pt;
    width: 1em;
    margin-bottom: 8px;
    background-color: #edeef2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;}
div.out_prompt_overlay.prompt:hover {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 9pt;
    width: 1em;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #edeef2;
    box-shadow:#c3c7d1 4px 4px 6px 4px inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;}

div.output_wrapper {
    background-color:#edeef2;
    margin-bottom: 0em;
    margin-top: 0em;
    border: 0px;}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    padding-top: 1em;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #edeef2;
    color: #2b303b;}

div.btn.output_collapsed {
    background: rgba(53, 108, 180, .7);
    padding-right:10px;
    background-image: none;
    color: #22252d;
    font-size: 20;
    font-weight: bold;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}
