.completions {
    position: absolute;
    z-index: 110;
    overflow: hidden;
    border: medium solid @prompt-line;
    .corner-all;
    box-shadow: none;
    line-height: 1;
}

.completions select {
    background: @cc-input-bg;
    background-color: @cc-input-bg;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
    margin-left:2px;
    overflow: auto;
    font-family: @monofont, monospace;
    font-size: @monofontsize;
    color: @cc-input-fg;
    width: auto;
}
