/*
    Name:       Oceans16
    Author:     Kyle Dunovan (http://github.com/dunovank)
*/

body {background-color: #262931;}

a {color: #798daf; font-family: 'Helvetica', sans-serif; }
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt, div.CodeMirror pre {font-family:'Hack', monospace; font-size: 11pt;}

/* Hiding the ipython log */in
div#ipython_notebook {display: none;}

/* INTRO PAGE */
.toolbar_info {color: #798daf; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif; text-shadow: none !important; }
.list_container {color: #798daf; font-size: 12pt; border: 0; font-family: 'Helvetica', sans-serif;text-shadow: none !important; }
.breadcrumb>li {text-shadow:0 0px 0; color:#798daf; font-family: 'Helvetica', sans-serif; font-size: 12pt}
.list_container a {color: #798daf; font-family: 'Helvetica', sans-serif; font-size: 12pt; border: 0; text-shadow: none !important; }
.item_icon {color: #3572C6;}
.item_buttons .kernel-name {
    color: #3572C6;
}
.running_notebook_icon:before {
    color: #02ac65 !important;
}
.item_buttons .running-indicator {
    padding-top: 4px;
    color: #02ac65;
}
.nav-tabs > li > a:hover {
    color: #cbd1dc;
    background: #262931;
    background-color:rgba(53, 108, 180, 0.2);
    border-color: transparent;
    background-image: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #e9ecf1;
    background: #262931;
    border-color: transparent;
    background-color:rgba(53, 108, 180, 0.5);
}
.nav-tabs {
    border-bottom: 1px solid rgba(53, 108, 180, 0.5);
}

/*<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>
*****************************************
COMMENT THIS LINE OUT TO RESTORE TOOLBAR
*****************************************
<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>> */
div#maintoolbar {display: none !important;}

div.list_container a:hover {color: #cbd1dc;}
.list_header {
    font-weight: normal;
    background-color: #262931;
    color: #798daf;
}
div#notebook_list_header.row.list_header {
    background-color: #262931;
}
ul#selector-menu.dropdown-menu > li > a {
    padding: none;
}
div.list_item:hover {
    background-color:rgba(53, 108, 180, 0.05);
}
.list_container > div {
    border-bottom: 1px solid rgba(53, 108, 180, 0.2);
    font-size: 12pt;
}

/* PANELS // LISTS // DROPDOWN MENUS*/
.panel-default {
    border-color: rgba(53, 108, 180, 0.1);
}
.panel {
    line-height: 22px;
    fontsize: 12px;
    margin-bottom: 18px;
    background-color: #262931;
    color: #798daf;
    border: 0px;
    box-shadow: none;
}
.modal-content {
    position: relative;
    background-color: #384151;
    border: 1px solid rgba(53, 108, 180, 0.15);
    border-radius: 3px;
    box-shadow: 0px 3px 9px rgba(53, 108, 180, 0.25);
    background-clip: padding-box;
    outline: 0px none;
}
.dropdown-menu {
    border: 2px solid rgba(53, 108, 180, 0.25);
    background-color: #373e4b;
    background: #373e4b;
    box-shadow: none;
    padding: 0px 0;
    font-size: 12pt;
    text-align: left;
    vertical-align: middle;
}
.dropdown-menu:hover {
    border: 2px solid rgba(53, 108, 180, 0.25);
    background-color: #373e4b;
    box-shadow: none;
    vertical-align: middle;
}
.dropdown-header {
    font-size: 13pt;
    display: block;
    line-height: 1.25;
    color: #798daf;
    text-decoration: underline;
    text-decoration-color: rgba(53, 108, 180, 0.25);
    white-space: nowrap;
}
.dropdown-menu > li > a {
    font-size: 12pt;
    display: block;
    clear: both;
    padding: 8px 20px;
    font-weight: normal;
    line-height: 1.25;
    color: #798daf;
    white-space: nowrap;
    background-color: #373e4b;
    background: #373e4b;
}
.dropdown-menu > li > a:hover {
    font-size: 12pt;
    color: #cbd1dc;
    display: block;
    clear: both;
    padding: 8px 20px;
    font-weight: normal;
    line-height: 1.25;
    white-space: nowrap;
    background-color: rgba(53, 108, 180, 0.25);
    background: rgba(53, 108, 180, 0.25);
}
.dropdown-menu .divider {
    height: 2px;
    margin: 0px 0px;
    overflow: hidden;
    background-color: rgba(53, 108, 180, 0.5);
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px;
    margin-left: 0px;
    padding-top: 0px;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    font-weight: normal;
    color: #5A647B;
    padding: none;
    display: block;
    clear: both;
    line-height: 1.5;
    white-space: nowrap;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid rgba(53, 108, 180, 0.5);
    min-height: 16.4286px;
}
#running .panel-group .panel .panel-heading {
    background-color: #262931;
    padding: 4px 7px;
    line-height: 22px;
}
#running .panel-group .panel .panel-heading a:hover {
    color: #2c85f7;
}
#running .panel-group .panel .panel-body .list_container .list_item {
    border-bottom: 1px solid rgba(53, 108, 180, 0.5);
}

#project_name > .breadcrumb {
    font-weight: normal;
    color: #2c85f7;
}
.rendered_html pre, .rendered_html code {
    font-size: 12pt;
    color: #798daf;
    line-height: 100%;
    background: #303845;
}
body {
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.42857;
    color: #798daf;
}

#kernel_indicator {
    float: right !important;
    color: #2c85f7;
}
#kernel_indicator .kernel_indicator_name {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13pt;
}
#modal_indicator {
    float: right !important;
    color: #2c85f7;
}
.notebook_app {
    background-color: #262931;
}
.notebook_app #header {
    box-shadow: none !important;
    background-color: #262931;
}
#notebook-container {
    padding: 15px;
    background-color: #262931;
    min-height: 0px;
    box-shadow: none;
}
#header {
    box-shadow: none;
    background-color: #262931;
    position: relative;
    z-index: 100;
}
#header-container {
    padding-bottom: 5px;
    display: none !important;
    box-shadow: none;
}
#header .header-bar {
    background: #262931;
}
.navbar-default {
    background-color: #262931;
    border-color: #262931;
}
#menubar .navbar {
    border-top: 1px;
    border-radius: 0 0 2px 2px;
    margin-bottom: 0;
    margin-top: 8px;
}
.navbar-default .navbar-nav > li > a {
    color: #798daf;
    font-size: 14pt;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #cbd1dc;
    background-color: rgba(53, 108, 180, .5);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #e9ecf1;
    background-color: rgb(53, 108, 180);
    border-color: rgb(53, 108, 180);
}


/* BUTTONS */
.btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #e9ecf1;
    background-color: #3572C6;
    border-color: #3572C6;
}
.btn {
    color: #798daf;
    background: transparent;
    background-color: transparent;
    font-size: 12pt;
    font-weight: normal;
    border: 0 none !important;
    border-radius: 2px;
    box-shadow: none !important;
    text-shadow: none;
}
.btn-group > .btn-mini {
    color: #798daf;
    background: transparent;
    background-color: transparent;
    font-size: 11pt;
    font-weight: normal;
    border: 0 none !important;
    border-radius: 2px;
    box-shadow: none !important;
    text-shadow: none;
}
.btn:hover {
    color: #cbd1dc;
    background: transparent;
    background-color: rgba(53, 108, 180, 0.5);
    background-image: none;
}
.btn-group > .btn-mini:hover {
    color: #cbd1dc;
    background: transparent;
    background-color: rgba(53, 108, 180, 0.5);
    background-image: none;
}
.btn-xs, .btn-group-xs > .btn {
    display: table-row-group;
}
.btn-group, .btn-group-vertical {
    background: transparent;
    background-color: transparent;
}
.alternate_upload .btn-upload {
    padding: 1px 5px;
    line-height: 1.5;
    height: 26px;
    background: transparent;
    display: inline-block;
}
.alternate_upload .btn-upload:hover {
    color: #cbd1dc;
    background: transparent;
    background-color: rgba(53, 108, 180, 0.5);
    background-image: none;
}

/* TOOLTIP DIMENSIONS */
.ipython_tooltip {
    border: 2px solid rgba(53, 108, 180, 0.5);
    box-shadow: none;
    border-radius: 2px;
    position: absolute;
    z-index: 1000;
    font-size: 90%;
    background-color: #424a5a;
}
.ipython_tooltip .tooltiptext pre {
    background-color: #424a5a;
    color: #e9ecf1;
    font-size: 90%;
}
div#tooltip.ipython_tooltip {
    overflow: wrap;
    max-width: 825px;
}
div.tooltiptext.bigtooltip {
    overflow: wrap;
    height: 400px;
    width: 825px;
}

/* Formatting code in markdown cells */
div.text_cell, div.text_cell_render pre, div.text_cell_render {
    background: #303845;
    background-color: #303845;
    max-width: 100%;
    color: #798daf;
    border-radius: 2px;
}
div.cell.text_cell.rendered .input_prompt {
    border-right: 2px solid rgba(43, 158, 128, .35);
    color: #798daf;
    background: #303845;
    background-color: #303845;
}
div.cell.text_cell.unrendered .input_prompt {
    border-right: 2px solid rgba(43, 158, 128, .35);
    color: #798daf;
    background: #303845;
    background-color: #303845;
    border-radius: 2px;
}
div.cell.text_cell.rendered.selected {
    border: medium solid #268a70;
    padding: 0px;
    border-radius: 2px;
}
div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    background: #303845;
    background-color: #303845;
    color: #798daf;
    line-height: 1;
}
/* text in output area (i.e. print some_list) */
div.output_html {color: #798daf;}
/* Formatting code in text, code*/
.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px #99a9cb solid;
  color: #99a9cb;
  background-color: #384151 !important;
  align-content: left !important;
}
button.close {
    padding: 0px;
    cursor: pointer;
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
}
.close {
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #3572C6;
    text-shadow: 0px 1px 0px rgba(53, 108, 180, 0.05);
    opacity: 0.3;
}
.close:hover {
    color: #0095ff;
    text-shadow: 0px 1px 0px rgba(53, 108, 180, 0.05);
    opacity: 0.9;
}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13pt;
    line-height: 1.6;
    color: #6ea3d4;
    background-color: #303845;
    background-image: none;
    border: 1px solid rgba(53, 108, 180, 0.6);
    border-radius: 2px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.list_item input:not([type="checkbox"]) {
    margin-right: 0px;
    padding-right: 0px;
    height: 80%;
    width: 30%;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid rgba(53, 108, 180, 0.6);
}
.input-form-control:hover:active {
    background-color:  rgba(53, 108, 180, 0.6);
    selected:  rgba(53, 108, 180, 0.6);
}

span.ansiblack {color: #2b303b;}
span.ansiblue {color: #DB797C;}
span.ansigray {color: #B4B7B4;}
span.ansigreen {color: #B5C2D9;}
span.ansipurple {color: #CAA6EC;}
span.ansicyan {color: #77ABE7;}
span.ansiyellow {color: #DDD7A3;}
span.ansired {color: #798daf;}

div.output_stderr {background-color: #DB797C;}
div.output_stderr pre {color: #D0D4E6;}
div.js-error { color: #DB797C; }

.cm-s-ipython.CodeMirror {background: #303845; color: #CDD2E9; border-top-right-radius: 2px; background-color: #303845;}
.cm-s-ipython div.CodeMirror-selected {background: #384151 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #384151; border: 0px; border-radius:0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #5A647B !important; }
.cm-s-ipython .CodeMirror-cursor {border-left: 2px solid #0095ff !important;}
.cm-s-ipython span.cm-comment {color: #667FB1; font-style: italic !important;}
.cm-s-ipython span.cm-atom {color: #CAA6EC;}
.cm-s-ipython span.cm-number {color: #EFAA8E;}
.cm-s-ipython span.cm-property {color: #77ABE7;}
.cm-s-ipython span.cm-attribute {color: #E39194;}
.cm-s-ipython span.cm-keyword {color: #CAA6EC; font-weight: normal;}
.cm-s-ipython span.cm-string {color: #8FCA9A; font-weight: normal;}
.cm-s-ipython span.cm-operator {color: #77ABE7; font-weight: normal;}
.cm-s-ipython span.cm-builtin {color: #E39194; font-weight: normal;}
.cm-s-ipython span.cm-boolean {color: #E39194;}
.cm-s-ipython span.cm-variable {color: #CDD2E9;}
.cm-s-ipython span.cm-variable-2 {color: #E39194;}

.cm-s-ipython span.cm-def {color: #77ABE7; font-weight: normal;}
.cm-s-ipython span.cm-error {background: rgba(191, 97, 106, .1) !important;}
.cm-s-ipython span.cm-tag {color: #CAA6EC;}
.cm-s-ipython span.cm-link {color: #E39194;}
.cm-s-ipython span.cm-storage {color: #CAA6EC;}
.cm-s-ipython span.cm-entity {color: #E39194;}
.cm-s-ipython span.cm-class {color: #E5DEA5;}
.cm-s-ipython span.cm-support {color: #77ABE7;}
.cm-s-ipython span.cm-qualifier {color: #77ABE7;}
.cm-s-ipython span.cm-property {color: #7BC6C0;}
.cm-s-ipython span.cm-meta {color: #7BC6C0; }
.cm-s-default .cm-header { color: #77ABE7; }

/* Set CodeCell font-size*/
/*div.CodeMirror pre {font-size: 11pt !important;}*/
div.CodeMirror pre {line-height: 1.6 !important;}
div.CodeMirror pre {font-family: 'Hack', monospace; font-size: 11pt;}
div.CodeMirror-lines { padding-bottom: .2em; }

div.CodeMirror span.CodeMirror-matchingbracket { color: #e9ecf1; background-color: rgb(53, 108, 180) !important ; height: 120%; line-height: 1.6 !important; padding-top: 1px;}
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #e9ecf1; background: rgba(191, 97, 106, .2) !important ; height: 120%; line-height: 1.6 !important; padding-top: 1px;}


div.cell {
    background: #303845;
    background-color: #303845;
    border: medium solid #262931;
    padding: 0px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
div.cell.selected {
    background: #303845;
    background-color: #303845;
    border: medium solid #3572C6;
    padding: 0px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.edit_mode div.cell.selected {
    background: #303845;
    background-color: #303845;
    border: medium solid #33517c !important;
    padding: 0px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
div.cell.edit_mode {
    background: #303845;
    background-color: #303845;
    border: medium solid #33517c !important;
    padding: 0px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

div.prompt {
    padding: 0.3em;
    margin: 0px;
    font-family: monospace;
    text-align: left;
    line-height: 1.21429em;
    min-width: 11ex;
    font-size: 9.5pt;
}
div.input_area {
    background-color: #262931;
    background: #262931;
    margin-bottom: 0px;
    border: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*Input and output cells formatting*/
div.prompt.input_prompt {
    font-family: 'Hack', monospace;
    color: #5a6981;
    background-color: #303845;
    font-weight: normal;
    font-size: 9.5pt;
    width: 1em;
    border-right: 2px solid rgba(53, 108, 180, .6);
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
div.prompt.output_prompt {
    font-family: 'Hack', monospace;
    background-color: #384151;
    color: #384151;
    font-size: 9.5pt;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
div.out_prompt_overlay.prompt {
    font-family: 'Hack', monospace;
    font-size: 9.5pt;
    width: 1em;
    background-color: #384151;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
div.out_prompt_overlay.prompt:hover {
    font-family: 'Hack', monospace;
    font-size: 9.5pt;
    background-color: #384151;
    box-shadow: #303945 1px 1px 3px 3px inset;
    border-bottom-left-radius: 2px;
    -webkit-border-: 2px;
    -moz-border-radius: 2px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
div.output_wrapper {
    background-color:#384151;
    margin-bottom: 0em;
    margin-top: 0em;
    border: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
div.output_subarea.output_text.output_stream.output_stdout,div.output_subarea.output_text {
    background-color: #384151;
    color: #CFD2D9;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
div.output_area pre {
    color: #CFD2D9;
    font-size: 10pt;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
div.output_subarea {
    overflow-x: auto;
    padding: 1.0em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    flex: 1;
    max-width: calc(100% - 14ex);
}
div.widget-area {
    background-color: #384151;
    background: #384151;
    page-break-inside: avoid;
    -moz-box-align: stretch;
    box-orient: horizontal;
    box-align: stretch;
    flex-direction: row;
    align-items: center;
    align-self: auto;
}

/*
Following courtesy of Sherif Soliman
at http://sherifsoliman.com
*/
div.output.output_scroll {
    box-shadow: none;
}
/*Scroll bars*/
::-webkit-scrollbar {
    width: 12px;

}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #495164;
    background: #495164;
}
::-webkit-scrollbar-thumb:window-inactive {
    background-color: #464e60;
    background: #464e60;
}
