@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

body {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 color: #899ab8;
 background-color: #16191d;
 line-height: 1;
}
a {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 color: #899ab8;
}
div#notebook {
 font-family: "Hack", monospace;
 font-size: 11pt;
 line-height: 160%;
 color: #b5c2d9;
}
div#notebook_toolbar div.dynamic-instructions {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 display: inline-block;
}
.toolbar_info {
 font-family: "Droid Sans", sans-serif;
 color: #899ab8;
 border: none;
 text-shadow: none !important;
}
.list_container {
 font-size: 11.6pt;
 color: #899ab8;
 border: none;
 text-shadow: none !important;
}
.list_container > div {
 border-bottom: 1px solid rgba(70,82,95,.32);
 font-size: 11.6pt;
}
.list_container a {
 font-size: 11.6pt;
 color: #899ab8;
 border: none;
 text-shadow: none !important;
}
div.list_container a:hover {
 color: #e9ecf1;
}
.list_header {
 font-weight: normal;
 background-color: #16191d;
 color: #899ab8;
}
div#notebook_list_header.row.list_header {
 background-color: #16191d;
}
ul#selector-menu.dropdown-menu > li > a {
 padding: none;
}
#tree-selector {
 padding: 0px;
}
div.list_item:hover {
 background-color: rgba(70,82,95,.12);
}
.breadcrumb > li {
 font-size: 11.6pt;
 color: #899ab8;
 border: none;
 text-shadow: none !important;
}
ul#tabs a {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 font-weight: normal;
 font-style: normal;
 border-color: transparent;
 border-bottom: 1px solid rgba(70,82,95,.32);
 text-shadow: none !important;
}
.nav-tabs {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 font-weight: normal;
 font-style: normal;
 text-shadow: none !important;
 border-color: transparent;
 border-bottom: 1px solid rgba(70,82,95,.32);
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 font-weight: normal;
 font-style: normal;
 color: #e9ecf1;
 background: #16191d;
 background-color: rgba(70,82,95,.32);
 border-color: transparent;
 background-image: none;
 border-color: transparent;
 border-bottom: 1px solid rgba(70,82,95,.32);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 font-weight: normal;
 font-style: normal;
 color: #ffffff;
 background: #16191d;
 background-color: #48a667;
 border-color: transparent;
 text-shadow: none !important;
}
div#notebook {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 padding-top: 5px;
}
.notebook_app {
 background-color: #16191d;
}
#notebook-container {
 padding: 13px;
 background-color: #16191d;
 min-height: 0px;
 box-shadow: none;
}
.container {
 width: 940px;
}
.notebook_app #header {
 box-shadow: none !important;
 background-color: #16191d;
 border-bottom: 1px solid rgba(70,82,95,.32);
}
#header {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 box-shadow: none;
 background-color: #16191d;
}
#header .header-bar {
 background: #16191d;
 background-color: #16191d;
}
body > #header .header-bar {
 width: 100%;
 background: #16191d;
 margin-bottom: -1px;
}
.navbar-default {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 background-color: #16191d;
 border-color: #16191d;
 padding-bottom: 0px;
 border: 0;
}
#menubar {
 padding-top: 10px;
 background-color: #16191d;
}
#menubar .navbar,
.navbar-default {
 background-color: #16191d;
 margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 color: #899ab8;
 display: block;
 line-height: 1.35;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color: #e9ecf1;
 background-color: rgba(70,82,95,.32);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
 color: #ffffff;
 background-color: #48a667;
 border-color: #48a667;
}
.command_mode .modal_indicator:before {
 font-size: 11.6pt;
}
.item_icon {
 color: #3572c6;
}
.item_buttons .kernel-name {
 color: #3572c6;
}
.running_notebook_icon:before {
 color: #48a667 !important;
}
.item_buttons .running-indicator {
 padding-top: 2px;
 color: #48a667;
}
#modal_indicator {
 float: right !important;
 color: #48a667;
}
#kernel_indicator {
 float: right !important;
 color: #48a667;
 font-size: 13pt;
}
#kernel_indicator .kernel_indicator_name {
 padding-left: 5px;
 padding-right: 5px;
 font-size: 13pt;
}
#project-name > .breadcrumb {
 font-weight: normal;
 color: #48a667;
}
.notification_widget.info {
 color: #ffffff;
 background-color: #48a667;
 border-color: #48a667;
 width: 100%;
}
.dropdown-menu {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 box-shadow: none;
 padding: 0px;
 text-align: left;
 border: 2px solid rgba(70,82,95,.32);
 background-color: #2e353e;
 background: #2e353e;
 line-height: 1.35;
}
.dropdown-menu:hover {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 border: 2px solid rgba(70,82,95,.32);
 background-color: #2e353e;
 box-shadow: none;
 line-height: 1.35;
}
.dropdown-header {
 font-family: "Droid Sans", sans-serif;
 font-size: 12.6pt;
 display: block;
 color: #899ab8;
 text-decoration: underline;
 text-decoration-color: rgba(70,82,95,.32);
 white-space: nowrap;
 line-height: 1.35;
}
.dropdown-menu > li > a {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 display: block;
 clear: both;
 padding: 9px 22px;
 font-weight: normal;
 line-height: 1.25;
 color: #899ab8;
 white-space: nowrap;
 background-color: #2e353e;
 background: #2e353e;
}
.dropdown-menu > li > a:hover {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 color: #e9ecf1;
 display: block;
 clear: both;
 padding: 9px 22px;
 font-weight: normal;
 line-height: 1.25;
 white-space: nowrap;
 background-color: rgba(70,82,95,.32);
 background: rgba(70,82,95,.32);
}
.dropdown-menu .divider {
 height: 2px;
 margin: 0px 0px;
 overflow: hidden;
 background-color: rgba(83,180,115,.3);
}
.dropdown-submenu > .dropdown-menu {
 top: 0;
 left: 100%;
 margin-top: -2px;
 margin-left: 0px;
 padding-top: 0px;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 font-weight: normal;
 color: #5b6270;
 padding: none;
 display: block;
 clear: both;
 line-height: 1.25;
 white-space: nowrap;
}
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
 color: #ffffff;
 background-color: #48a667;
 border-color: #48a667;
}
.btn {
 color: #899ab8;
 background: #2a3038;
 background-color: #2a3038;
 border: 1px solid #23292f !important;
 border-radius: 2px;
 box-shadow: none !important;
 text-shadow: none;
}
.btn:hover {
 color: #ffffff;
 background: #48a667;
 background-color: #48a667;
 border-color: #48a667;
 background-image: none;
}
.btn-group > .btn-mini {
 font-size: 11.6pt;
 font-weight: normal;
 border-radius: 2px;
 color: #899ab8;
 background: #2a3038;
 background-color: #2a3038;
 box-shadow: none !important;
 text-shadow: none;
 background-image: none;
}
.btn-group > .btn-mini:hover {
 font-size: 11.6pt;
 font-weight: normal;
 color: #ffffff;
 background: #48a667;
 background-color: #48a667;
 border-color: #48a667;
 background-image: none;
}
.btn-xs,
.btn-group-xs > .btn {
 font-size: 11.6pt;
 font-weight: normal;
 border-radius: 2px;
 display: table-row-group;
 background: #2a3038;
 background-color: #2a3038;
}
.btn-sm,
.btn-group-sm > .btn {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 border-radius: 2px;
 background: #2a3038;
 background-color: #2a3038;
}
.btn-group-sm > .btn:hover {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 color: #ffffff;
 background: #48a667;
 background-color: #48a667;
}
.btn-group,
.btn-group-vertical {
 font-size: 11.6pt;
 font-weight: normal;
 border-radius: 2px;
 background: #2a3038;
 background-color: #2a3038;
 background-image: none;
 vertical-align: bottom;
}
.btn-group-vertical:hover {
 font-size: 11.6pt;
 font-weight: normal;
 color: #ffffff;
 background: #48a667;
 background-color: #48a667;
 background-image: none;
}
.alternate_upload .btn-upload {
 font-size: 11.6pt;
 font-weight: normal;
 border-radius: 2px;
 height: inherit;
 background: transparent;
 background-color: #2a3038;
 display: inline-table;
}
.alternate_upload .btn-upload:hover {
 font-size: 11.6pt;
 font-weight: normal;
 border-radius: 2px;
 height: inherit;
 color: #ffffff;
 background: #48a667;
 background-color: #48a667;
 display: inline-table;
}
.alternate_upload input.fileinput {
 display: none;
 width: 11.5ex;
}
#button-select-all {
 padding-top: 2px;
 min-width: 50px;
}
button#tree-selector-btn {
 padding-top: 2px;
}
button.close {
 padding: 0px;
 cursor: pointer;
 background: transparent none repeat scroll 0% 0%;
 border: 0px none;
}
.close {
 float: right;
 font-size: 22px;
 font-weight: bold;
 line-height: 1;
 color: #48a667;
 text-shadow: 0px 1px 0px rgba(70,82,95,.12);
 opacity: 0.3;
}
.close:hover {
 color: #48a667;
 text-shadow: 0px 1px 0px rgba(70,82,95,.12);
 opacity: 0.9;
}
.modal-content {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 position: relative;
 background-color: #2e353e;
 border: 1px solid rgba(70,82,95,.32);
 border-radius: 3px;
 box-shadow: 0px 3px 9px rgba(70,82,95,.32);
 background-clip: padding-box;
 outline: 0px none;
}
.modal-header {
 font-family: "Droid Sans", sans-serif;
 font-size: 11.6pt;
 padding: 15px;
 border-bottom: 1px solid rgba(70,82,95,.52);
 min-height: 16.4286px;
}
.panel-default {
 border-color: rgba(70,82,95,.32);
}
.panel {
 font-size: 11.6pt;
 margin-bottom: 18px;
 background-color: #16191d;
 color: #899ab8;
 border: 0px;
 box-shadow: none;
}
#running .panel-group .panel .panel-heading {
 font-size: 12.6pt;
 background-color: #16191d;
 padding: 4px 7px;
 line-height: 22px;
}
#running .panel-group .panel .panel-heading a:hover {
 font-size: 12.6pt;
 color: #48a667;
}
#running .panel-group .panel .panel-body .list_container .list_item {
 border-bottom: 1px solid rgba(70,82,95,.52);
}
.form-control {
 display: block;
 width: 100%;
 height: 32px;
 padding: 6px 12px;
 font-size: 11.6pt;
 color: #899ab8;
 background-color: #282c34;
 background-image: none;
 border: 1px solid rgba(70,82,95,.32);
 border-radius: 2px;
 box-shadow: none;
 transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.list_item input:not([type="checkbox"]) {
 margin-right: 0px;
 padding-right: 0px;
 height: 80%;
 width: 30%;
}
.modal-footer {
 padding: 15px;
 text-align: right;
 border-top: 1px solid rgba(70,82,95,.52);
}
.input-form-control:hover:active {
 background-color: rgba(70,82,95,.12);
 selected: rgba(70,82,95,.12);
}
div.output.output_scroll {
 box-shadow: none;
}
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.11);
 background-color: #c8ced6;
 border-radius: 10px;
}
::-webkit-scrollbar {
 width: 11px;
 height: 10px;
 background-color: #c8ced6;
 border-radius: 7px;
}
::-webkit-scrollbar-thumb {
 background-color: #ffffff;
 background-image: -webkit-gradient(linear,40% 0%,75% 86%,from(#37704a ),color-stop(0.5,#479260 ),to(#37704a ));
 min-height: 40px;
 border-radius: 7px;
}
div.input_area {
 background-color: #282c34;
 padding-right: 1.2em;
 border: 0px;
 border-top-left-radius: 0px;
 border-top-right-radius: 2px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
}
div.cell {
 padding: 0px;
 background: #282c34;
 background-color: #282c34;
 border: medium solid #16191d;
 border-top-right-radius: 2px;
 border-top-left-radius: 2px;
}
div.cell.selected {
 background: #282c34;
 background-color: #282c34;
 border: medium solid #48a667;
 padding: 0px;
 border-top-right-radius: 2px;
 border-top-left-radius: 2px;
}
.edit_mode div.cell.selected {
 padding: 0px;
 background: #282c34;
 background-color: #282c34;
 border: medium solid #2e5039;
 border-top-right-radius: 2px;
 border-top-left-radius: 2px;
}
div.cell.edit_mode {
 padding: 0px;
 background: #282c34;
 background-color: #282c34;
 border: medium solid #2e5039;
 border-top-right-radius: 2px;
 border-top-left-radius: 2px;
}
div.text_cell,
div.text_cell_render pre,
div.text_cell_render {
 font-family: "Droid Sans", sans-serif;
 font-size: 12pt;
 line-height: 160% !important;
 color: #adb9d0;
 background: #282c34;
 background-color: #282c34;
 border-radius: 2px;
}
div.cell.text_cell.rendered.selected {
 font-family: "Droid Sans", sans-serif;
 border: medium solid #5388d1;
 line-height: 160% !important;
 background: #282c34;
 background-color: #282c34;
 border-radius: 2px;
}
div.cell.text_cell.unrendered.selected {
 font-family: "Droid Sans", sans-serif;
 line-height: 160% !important;
 background: #282c34;
 background-color: #282c34;
 border: medium solid #5388d1;
 border-radius: 2px;
}
div.cell.text_cell.selected {
 font-family: "Droid Sans", sans-serif;
 line-height: 160% !important;
 border: medium solid #5388d1;
 background: #282c34;
 background-color: #282c34;
 border-radius: 2px;
}
.edit_mode div.cell.text_cell.selected {
 font-family: "Droid Sans", sans-serif;
 line-height: 160% !important;
 background: #282c34;
 background-color: #282c34;
 border: medium solid #33517c;
 border-radius: 2px;
}
div.text_cell.unrendered,
div.text_cell.unrendered.selected,
div.edit_mode div.text_cell.unrendered {
 font-family: "Droid Sans", sans-serif;
 line-height: 160% !important;
 background: #282c34;
 background-color: #282c34;
 border-radius: 2px;
}
.rendered_html table,
.rendered_html tr,
.rendered_html td {
 font-family: "Hack", monospace;
 font-size: 9.5pt !important;
 line-height: 145% !important;
 border: 1px solid #4f5b6a;
 color: #c2cde0;
 background-color: #373f4a;
 background: #373f4a;
}
table.dataframe,
.rendered_html tr,
.dataframe * {
 border: 1px solid #4f5b6a;
}
.dataframe th,
.rendered_html th {
 font-family: "Droid Sans", sans-serif;
 font-size: 10.5pt !important;
 font-weight: 450;
 border: 1px solid #3d4753;
 background: #303841;
}
.dataframe td,
.rendered_html td {
 font-family: "Hack", monospace;
 font-size: 9.5pt !important;
 color: #c2cde0;
 background: #3b4450;
 border: 1px solid #4f5b6a;
 text-align: left;
 min-width: 4em;
}
.dataframe-summary-row tr:last-child,
.dataframe-summary-col td:last-child {
 font-family: "Hack", monospace;
 font-size: 10.5pt !important;
 font-weight: 450;
 color: #bcc7dc;
 border: 1px solid #4f5b6a;
 background: #303841;
}
.rendered_html code {
 color: #b5c2d9;
 padding-top: 5px;
 background: #21252b;
 background-color: #21252b;
}
.rendered_html pre,
div.text_cell_render pre {
 font-family: "Hack", monospace;
 font-size: 11pt;
 line-height: 160% !important;
 color: #b5c2d9;
 background: #21252b;
 background-color: #21252b;
 border: 2px #21252b  solid;
 max-width: 85%;
 border-radius: 2px;
 padding: 8.5px;
}
pre code {
 padding: 0;
}
.rendered_html * + p {
 margin-top: .2em;
}
.rendered_html :link {
 font-family: "Droid Sans", sans-serif;
 color: #3572c6;
 text-decoration: underline;
}
.rendered_html :visited {
 text-decoration: underline;
 color: #48a667;
}
div.output_wrapper {
 background-color: #2e353e;
 border: 0px;
 margin-bottom: 0em;
 margin-top: 0em;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 border-bottom-left-radius: 2px;
 border-bottom-right-radius: 2px;
}
div.output_subarea.output_text.output_stream.output_stdout,
div.output_subarea.output_text {
 font-family: "Hack", monospace;
 font-size: 10pt;
 line-height: 130% !important;
 background-color: #2e353e;
 color: #b2bfd7;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 border-bottom-left-radius: 2px;
 border-bottom-right-radius: 2px;
}
div.output_area pre {
 font-family: "Hack", monospace;
 font-size: 10pt !important;
 line-height: 130% !important;
 color: #b2bfd7;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 border-bottom-left-radius: 2px;
 border-bottom-right-radius: 2px;
}
div.output_area {
 display: -webkit-box;
}
div.output_html {
 font-family: "Droid Sans", sans-serif;
 font-size: 12pt;
 color: #c2cde0;
 background-color: #2e353e;
 background: #2e353e;
}
div.output_subarea {
 overflow-x: auto;
 padding: .8em;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 box-flex: 1;
 flex: 1;
 max-width: 90%;
}
div.widget-area {
 font-size: 12pt;
 background-color: #2e353e;
 background: #2e353e;
 color: #b2bfd7;
}
div.widget_item.btn-group > button.btn.btn-default.widget-combo-btn {
 background: transparent;
 background-color: #252b32;
 border: 1px solid #48a667;
 font-size: 11pt;
}
audio,
video {
 display: inline;
 vertical-align: middle;
 align-content: center;
 margin-left: 20%;
}
div.prompt {
 font-family: "Hack", monospace;
 font-size: 9.3pt;
 line-height: 160%;
 padding: .3em;
 text-align: left !important;
 min-width: 11ex;
}
div.prompt.input_prompt {
 font-family: "Hack", monospace;
 font-size: 9.3pt;
 line-height: 160%;
 color: #536487;
 background-color: #282c34;
 font-weight: normal;
 min-width: 11ex;
 text-align: left !important;
 border-right: 2px solid rgba(83,180,115,.5);
 border-top-left-radius: 2px;
 border-top-right-radius: 0px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
}
div.cell.text_cell.rendered .input_prompt {
 font-family: "Hack", monospace;
 font-size: 9.3pt;
 line-height: 160%;
 background: #282c34;
 background-color: #282c34;
 border-right-color: rgba(53,114,198,.5);
 min-width: 11ex;
}
div.cell.text_cell.unrendered .input_prompt {
 font-family: "Hack", monospace;
 font-size: 9.3pt;
 line-height: 160%;
 background: #282c34;
 background-color: #282c34;
 border-right-color: rgba(53,114,198,.5);
 min-width: 11ex;
}
div.prompt.output_prompt {
 font-family: "Hack", monospace;
 font-size: 9.3pt;
 background-color: #2e353e;
 color: #2e353e;
 border-bottom-left-radius: 2px;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 border-bottom-right-radius: 0px;
}
div.out_prompt_overlay.prompt {
 font-family: "Hack", monospace;
 font-size: 9.3pt;
 background-color: #2e353e;
 border-bottom-left-radius: 2px;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 border-bottom-right-radius: 0px;
 min-width: 11ex;
}
div.out_prompt_overlay.prompt:hover {
 font-family: "Hack", monospace;
 font-size: 9.3pt;
 background-color: #2e353e;
 box-shadow: #252b32 2px 1px 2px 2.5px inset;
 border-bottom-left-radius: 2px;
 -webkit-border-: 2px;
 -moz-border-radius: 2px;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
}
div.CodeMirror,
div.CodeMirror pre {
 font-family: "Hack", monospace;
 font-size: 11pt;
 line-height: 160%;
 color: #b5c2d9;
}
div.CodeMirror-lines {
 padding-bottom: .6em;
 padding-left: .5em;
 padding-right: 1.5em;
}
span.ansiblack {
 color: #2b303b;
}
span.ansiblue {
 color: #77abe7;
}
span.ansigray {
 color: #899ab8;
}
span.ansigreen {
 color: #cdd2e9;
}
span.ansipurple {
 color: #caa6ec;
}
span.ansicyan {
 color: #8fca9a;
}
span.ansiyellow {
 color: #ddd7a3;
}
span.ansired {
 color: #db797c;
}
div.output-stderr {
 background-color: #db797c;
}
div.output-stderr pre {
 color: #d0d4e6;
}
div.js-error {
 color: #db797c;
}
.ipython_tooltip {
 border: 1.5px solid #3f8155;
 background-color: #323a44;
 border-radius: 2px;
 overflow-x: visible;
 overflow-y: visible;
 box-shadow: none;
 position: absolute;
 z-index: 1000;
 font-size: 90%;
}
.ipython_tooltip .tooltiptext pre {
 background-color: #323a44;
 color: #b5c2d9;
 line-height: 130%;
 overflow-x: visible;
 overflow-y: visible;
 max-width: 800px;
 font-size: 90%;
}
div#tooltip.ipython_tooltip {
 overflow-x: wrap;
 overflow-y: visible;
 max-width: 800px;
}
div.tooltiptext.bigtooltip {
 overflow-x: visible;
 overflow-y: scroll;
 height: 400px;
 max-width: 800px;
}
.cm-s-ipython.CodeMirror {
 font-family: "Hack", monospace;
 font-size: 11pt;
 background: #282c34;
 color: #b5c2d9;
 border-radius: 2px;
}
.cm-s-ipython div.CodeMirror-selected {
 background: #2f3640;
}
.cm-s-ipython .CodeMirror-gutters {
 background: #2f3640;
 border: none;
 border-radius: 0px;
}
.cm-s-ipython .CodeMirror-linenumber {
 color: #5b6270;
}
.cm-s-ipython .CodeMirror-cursor {
 border-left: 2px solid #528bff;
}
.cm-s-ipython span.cm-comment {
 color: #536487;
 font-style: italic;
}
.cm-s-ipython span.cm-atom {
 color: #61afef;
}
.cm-s-ipython span.cm-number {
 color: #ec9d66;
}
.cm-s-ipython span.cm-property {
 color: #61afef;
}
.cm-s-ipython span.cm-attribute {
 color: #dc6972;
}
.cm-s-ipython span.cm-keyword {
 color: #c776df;
 font-weight: normal;
}
.cm-s-ipython span.cm-string {
 color: #94c273;
}
.cm-s-ipython span.cm-meta {
 color: #51b6c3;
}
.cm-s-ipython span.cm-operator {
 color: #5cadf1;
}
.cm-s-ipython span.cm-builtin {
 color: #dc6972;
}
.cm-s-ipython span.cm-variable {
 color: #b5c2d9;
}
.cm-s-ipython span.cm-variable-2 {
 color: #dc6972;
}
.cm-s-ipython span.cm-variable-3 {
 color: #51b6c3;
}
.cm-s-ipython span.cm-def {
 color: #61afef;
 font-weight: normal;
}
.cm-s-ipython span.cm-error {
 background: rgba(192,57,67,.3);
}
.cm-s-ipython span.cm-tag {
 color: #61afef;
}
.cm-s-ipython span.cm-link {
 color: #ec9d66;
}
.cm-s-ipython span.cm-storage {
 color: #61afef;
}
.cm-s-ipython span.cm-entity {
 color: #61afef;
}
div.CodeMirror span.CodeMirror-matchingbracket {
 color: #ffffff;
 background-color: #3572c6;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
 color: #ffffff;
 background: rgba(192,57,67,.3) !important;
}
div.cell.text_cell .cm-s-default .cm-header {
 color: #5388d1;
}
div.cell.text_cell .cm-s-default span.cm-variable-2 {
 color: #adb9d0;
}
div.cell.text_cell .cm-s-default span.cm-variable-3 {
 color: #51b6c3;
}
.cm-s-default span.cm-comment {
 color: #536487;
}
.cm-s-default .cm-tag {
 color: #8fb36a;
}
.cm-s-default .cm-builtin {
 color: #dc6972;
}
.cm-s-default .cm-string {
 color: #94c273;
}
.cm-s-default .cm-keyword {
 color: #c776df;
}
.cm-s-default .cm-number {
 color: #ec9d66;
}
.cm-s-default .cm-error {
 color: #61afef;
}
.CodeMirror-cursor {
 border-left: 2px solid #528bff;
 border-right: none;
 width: 0;
}
.cm-s-default div.CodeMirror-selected {
 background: #2f3640;
}
.cm-s-default .cm-selected {
 background: #2f3640;
}
div.text_cell_render h1 {
 font-family: "Droid Sans", sans-serif;
 text-align: center;
 font-weight: lighter;
 background: #282c34;
 background-color: #282c34;
 color: #5388d1;
}
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
 font-family: "Droid Sans", sans-serif;
 text-align: left;
 font-weight: lighter;
 background: #282c34;
 background-color: #282c34;
 color: #5388d1;
}
div#maintoolbar {
 display: none !important;
}
#header-container {
 display: none !important;
}
div#ipython_notebook {
 display: none;
}

/**********************************
 MathJax Settings and Style Script
**********************************/
.MathJax_Display,
.MathJax nobr>span.math>span {
    border: 0 !important;
    font-size: 110% !important;
    text-align: center !important;
    margin: 0em !important;
}
/* Prevents MathJax from jittering */
/* cell position when cell is selected */
.MathJax:focus, body :focus .MathJax {
    display: inline-block !important;
}

<script>
    MathJax.Hub.Config({
        "HTML-CSS": {
            preferredFont: "TeX",
            availableFonts: ["STIX","TeX"],
            styles: {
                scale: 110,
                ".MathJax_Display": {
                    "font-size": "110%",
                }
            }
        }
    });
</script>

